* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    width: 600px;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 40px;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    background-color: transparent;
    border: none;
    width: 32px;
    height: 28px;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
}

.go-today {
    width: 72px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.nav-btn:hover {
    background-color: #333333;
    color: #fff;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;

}

.date {
    width: calc(100% / 7);
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #db2f43;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #1B6BAD;;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #fff;
}

.today::before {
    position: absolute;
    background-color: #FCB734;
    top: -50%;
    right: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: '';
    transform: translate(50%, 10%);
}