tml, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    color: rgb(26, 27, 28);
}

body {
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    min-height: 100vh;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    display: block;
}

/* header */
header {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    height: 61px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 56, 68, 0.1);
}

.header-inner {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 90rem;
}

.header-nav ul {
    display: flex;
    height: 100%;
}

.nav-li a {
    font-size: 0.875rem;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(171, 177, 177);
}

.header-user {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    padding-right: 24px;
    height: 100%;
}

.header-user ul {
    display: flex;
    height: 100%;
}

.user-li a {
    font-size: 0.875rem;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(23, 161, 255);
}

.service-introduce a {
    font-size: 0.875rem;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    color: rgb(171, 177, 177);
}

/* main */
.app main {
    position: relative;
    min-height: calc(100vh - 211px);
}

.main-area {
    overflow: hidden;
    padding-bottom: 60px;
}

.main-contents {
        margin: auto;
        width: 936px;
}

.main-banner-image-wrapper {
    padding: 40px 0px 60px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.main-banner-image-wrapper img {
    filter: brightness(90%);
    display: inline-block;
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.main-banner-image-left {
    position: relative;
    width: 616px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
}

.main-banner-image-right {
    position: relative;
    width: 296px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
}

/* .main-banner-image-left a {
    display: block;
    height: 100%;
    padding: 30px;
    cursor: pointer;
} */

.main-banner-text-box {
    /* width: 100%;
    z-index: 12;
    position: relative; */
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
  
    font-size: 2rem;
    line-height: 1.4;
    margin: 0px;
    font-weight: 400;
    word-break: keep-all;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 1px 8px;
}

.main-banner-title {
    /* white-space: pre-wrap;
    font-size: 2rem;
    line-height: 1.4;
    color: white;
    margin: 0px;
    font-weight: 400;
    max-width: 330px;
    word-break: keep-all;
    text-shadow: rgb(0 0 0 / 18%) 0px 1px 8px; */
    color: white;
    max-width: 330px;
}

.main-banner-subtitle {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 10px;
    color: white;
    word-break: keep-all;
    text-shadow: rgb(0 0 0 / 18%) 0px 1px 8px;
}

.main-banner-bottom-arrow {
    z-index: 11;
    bottom: 30px;
    position: absolute;
    left: 30px;
    display: flex;
    height: 20px;
    background-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }

  .main-banner-bottom-arrow svg {
    margin-bottom: 2px;
    cursor: pointer;
  }

.main-banner-bottom-arrow span {
    padding: 0px 0px 0px 8px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 0.875rem;
    outline: none;
    font-weight: 400;
}

.main-text-wrapper {
    margin-bottom: 24px;
}

.main-section-title-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.main-section-title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 4px;
    word-break: keep-all;
    margin-right: 4px;
}

.main-section-description-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.main-section-description {
    font-size: 16px;
    margin: 0px;
    word-break: keep-all;
    font-weight: 400;
}

.main-text-wrapper a {
    font-size: 0.875rem;
    color: rgb(23, 161, 255);
    font-weight: 400;
}

.main-text-wrapper a svg {
    margin-right: 4px;
    margin-bottom: 4px;
}

.question-mark {
    position: relative;
    flex-shrink: 0;
}

.question-mark .main-project-tooltip-content {
    display: none;
    position: absolute;
    bottom: calc(100% + 4px);
    background-color: rgb(56, 64, 64);
    border-radius: 5px;
    color: white;
    padding: 16px;
    width: max-content;
    z-index: 1;
}

.question-mark .main-project-tooltip-content .main-project-tooltip-content-line {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.question-mark .main-project-tooltip-content .main-project-tooltip-content-line:first-child {
    margin-bottom: 16px;
}

.question-mark .main-project-tooltip-content .main-project-tooltip-content-line .main-project-tooltip-content-text {
    color: white;
}

.question-mark .main-project-tooltip-svg {
    cursor: help;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.main-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 936px;
    margin-bottom: 24px;
}

.mini-intern-list-cards .main-card-list {
    width: 100%;
    box-shadow: rgb(26 27 28 / 12%) 0px 4px 8px 0px;
    opacity: 1;
    transition: transform 0.4s ease 0s, box-shadow 0.4s ease 0s;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
}

.mini-intern-list-card .card {
    width: 216px;
    border-radius: 5px;
}

.card .project-card-image-wrapper {
    width: 100%;
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 5px;
}

.card .project-card-image-wrapper .project-card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: border 0.2s ease 0s;
}

.card .project-card-info-wrapper {
    padding: 12px 12px 16px;
}

.card .project-card-info-wrapper .project-card-info-status-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.card .project-card-info-wrapper .project-card-info-status-wrapper .project-card-info-current-status {
    border-radius: 10px;
    background-color: rgb(147, 153, 153);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    color: white;
    padding: 1px 8px;
    font-size: 12px;
    font-weight: bold;
    flex-shrink: 0;
}

.card .project-card-info-wrapper .project-card-info-status-wrapper .recruiting {
    background-color: rgb(56, 64, 64);
}

.card .project-card-info-wrapper .project-card-info-status-wrapper .project-card-current-categories {
    color: rgb(147, 153, 153);
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .project-card-info-wrapper .project-card-info-name {
    margin-top: 8px;
    font-weight: bold;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recruitment-company {
    margin-top: 60px;
}

.recruitment-company-lists-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 936px;
    margin-bottom: 24px;
}

.recruitment-company-list-wrapper {
    width: 100%;
    box-shadow: rgb(26 27 28 / 12%) 0px 4px 8px 0px;
    opacity: 1;
    transition: transform 0.4s ease 0s, box-shadow 0.4s ease 0s;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
}

.recruitment-company-list-content {
    display: flex;
    padding: 12px;
    width: 100%;
    position: relative;
}

.recruitment-unbookmarked-button {
    border: none;
    padding: 0px;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.recruitment-card-image-wrapper {
    width: 120px;
    height: 120px;
    margin-right: 12px;
    position: relative;
    border-radius: 5px;
    flex-shrink: 0;
}

.recruitment-card-info-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;   
}

.recruitment-card-info-categories{
    font-size: 12px;
    color: rgb(147, 153, 153);
    margin-bottom: 2px;
}

.recruitment-card-info-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.recruitment-card-info-company-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.recruitment-card-info-employment-type-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.recruitment-card-info-employment-type {
    border-radius: 5px;
    background-color: rgb(241, 249, 255);
    color: rgb(23, 161, 255);
    padding: 0px 4px;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.recruitment-card-info-status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
    padding: 2px 4px;
    font-size: 12px;
    color: rgb(147, 153, 153);
    background-color: rgb(240, 243, 243);
    border-radius: 5px;
    width: max-content;

}

/* footer */
#footer-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 27px 0px 37px;
    border-top: 1px solid rgb(229, 234, 234);
    background-color: rgb(255, 255, 255);  
}

.footer-wrapper-inner {
    width: 930px;
    margin: 0px auto;
  }

  .footer-upper {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(210, 215, 215);
  }

  .footer-upper .footer-wrapper-site-menu-info {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.footer-upper .footer-wrapper-site-menu-info .footer-wrapper-site-menu-logo-box {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

  .footer-upper .footer-wrapper-site-menu-info .footer-wrapper-menu .site-menu {
    display: flex;
    width: 100%;
  }

  .footer-upper .footer-wrapper-site-cs-info {
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 25px 0px 0px;
    position: relative;
    z-index: 1;
}

.footer-upper .footer-wrapper-site-menu-info .footer-wrapper-menu .site-menu li + li {
    margin-left: 60px;
    margin: 0px 0px 0px 40px;
}

.footer-upper .footer-wrapper-site-menu-info .footer-wrapper-menu .site-menu li a {
    display: inline-block;
    color: rgb(26, 27, 28);
}

.footer-upper  .footer-wrapper-site-cs-info .cs-info-list {
    position: relative;
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li {
    display: flex;
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li .service-title {
    min-width: 82px;
    font-weight: 700;
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li .service-detail-info {
    font-size: 12px;
    line-height: 21px;
    color: rgb(56, 64, 64);
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li .service-detail-info a {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    color: rgb(56, 64, 64);
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li + li {
    margin: 10px 0px 0px;
}

.footer-upper .footer-wrapper-site-cs-info .cs-info-list li .service-detail-info a.page-link {
    margin: 0px 0px 0px 4px;
    font-weight: 700;
}

.footer-upper .footer-wrapper-site-cs-info .sns-menu-pc {
    display: flex;
}

.footer-lower {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

.footer-lower .footer-wrapper-company-info-textbox p {
    font-size: 12px;
    line-height: 18px;
    color: rgb(171, 177, 177);
    word-break: keep-all;
}

.footer-lower a {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgb(171, 177, 177);
}