* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

#header {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #6d6d6d;
    
}

.logo-box {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
}

.header-nav {
    margin-left: auto;
    margin-right: 20px;   
}

.nav-list-wrapper {
    display: flex;
    gap: 25px;
    line-height: 1.75;
}

.nav-list {
    font-weight: 600;
    font-size: 30px;
    position: relative;
}

.nav-list a {
    color: #000;
}

.nav-list::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 25%;
    top: 50%;
    background-color: #cacaca;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    z-index: -1;
}

.nav-list:hover::before {
    width: 100%;
    left: 0;
}

.nav-burger-icon {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #000;
}

.nav-x-icon {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #fff;
}

  /* 반응형 미디어 쿼리 */
@media screen and (max-width: 767px) {
    .header-nav{
        margin-right: 10px;
        margin-left: auto;
    }

    .nav-list-wrapper {
        display: none;
        position: fixed;
        gap: 0;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: #0e0e0e;
        /* padding: 0 2rem; */
        padding-top: 2.5rem;
        padding-left: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateX(100%);
        z-index: 999;
        transition: transform 0.3s ease;
    }
    
    .nav-list {
        font-weight: 600;
        font-size: 30px;
        position: relative;
    }
    
    .nav-list a {
        color: #fff;
    }

    .nav-burger-icon {
        display: block;
    }
    
    .nav-x-icon {
        display: block;
    }

    .nav-list-wrapper.active {
        display: flex;
        transform: translateX(0);
    }
    
}