* {
    box-sizing: border-box;
  }

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-container {
    border: 1px solid #000;
    padding: 20px 30px;
    width: 460px;

}

.process-button-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

li {
    list-style: none;
}